<nav class="flex flex-col  justify-center gap-2 ">
    <!-- Contenedor que organiza los elementos verticalmente -->
    <div class="flex flex-col items-center justify-center">
      <!-- Imagen del perfil del usuario con borde redondeado -->
      <img
        class="rounded-full size-32 mb-4"
        src="/projects/Doctor.webp"
        alt="Oscar photo"
      />
      
      <!-- Párrafo donde se mostrará el saludo con el nombre y correo del usuario -->
      <p id="greeting" class="text-center text-white"></p>
      <p class="text-center text-white">Universidad Autonoma de San Luis Potosi</p>
    </div >
  </nav>
