<div class="flex gap-4">
    <!-- tarjeta para la categoría Fisiología -->
    <a href="/category/Fisiologia" class="transition-all duration-300 flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-[#F2D95D] shadow-lg hover:shadow-xl bg-zinc-500/30 w-44 flex-col text-white hover:text-black">
        <picture class="aspect-square w-full overflow-hidden">
             <!-- Imagen representativa de la categoría -->
            <img src="/projects/Fisiologia.jpg" alt="Fisiologia" class="object-cover w-full h-full rounded-md">
        </picture>
        <div class="flex flex-auto flex-col truncate">
            
            <!-- Texto con el nombre de la categoría -->
            <h4 class="text-sm text-center transition-all duration-200 ">
                Fisiologia
            </h4>
        </div>
    </a>

    <!-- tarjeta para la categoría Anatomia -->
    <a href="/category/Anatomia" class="transition-all duration-300 flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-[#F2D95D] shadow-lg hover:shadow-xl bg-zinc-500/30 w-44 flex-col text-white hover:text-black">
        <picture class="aspect-square w-full overflow-hidden">
            <img src="/projects/Anatomia.jpg" alt="Anatomia" class="object-cover w-full h-full rounded-md">
        </picture>
        <div class="flex flex-auto flex-col truncate">
            <h4 class="text-sm text-center transition-all duration-200">
                Anatomia
            </h4>
        </div>
    </a>

    <!-- tarjeta para la categoría Histologia -->
    <a href="/category/Histologia" class="transition-all duration-300 flex relative p-2 overflow-hidden items-center gap-5 rounded-md hover:bg-[#F2D95D] shadow-lg hover:shadow-xl bg-zinc-500/30 w-44 flex-col text-white hover:text-black">
        <picture class="aspect-square w-full overflow-hidden">
            <img src="/projects/Histologia.jpg" alt="Histologia" class="object-cover w-full h-full rounded-md">
        </picture>
        <div class="flex flex-auto flex-col truncate">
            <h4 class="text-sm text-center transition-all duration-200">
                Histologia
            </h4>
        </div>
    </a>
</div>


<style>
    h4{
        font-family: "Onest Variable", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    }
</style>
