---
import Header from "../components/Header";
import "../styles/global.css";
import "@fontsource/rubik-mono-one";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>App Preguntas</title>
  </head>
  <body>
    <!-- <Header/> -->
    <slot />
  </body>
</html>

<style is:global>
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-family: "Rubik Mono One";
  }

  body {
    background-color: #096495;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
</style>
